/*
$black: #0D0D0D;
$green: #0CF2B1;
$darkPurple: #8303A6;
$mediumPurple: #AB04D9;
$lightPurple: #AB05F2;
*/

.layoutContainer {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.layoutContent {
    margin-top: 100px;
    background-color: white;
    width: 1140px;
    overflow-x: hidden;
    padding: 0 24px;

}