.productsListContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.productElement {
  /*flex: 1 0 21%; !* explanation below *!*/
  flex: 1 0 calc(25% - 16px);
  height: calc(1140px / 4);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center;
  position: relative;
  margin: 2px;
  border-radius: 5px;
}

.overlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0D0D0D;
  opacity: .4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayer:hover + .seeDetailsCircle {
  visibility: visible;
  font-size: 14px;
  width: 40%;
  height: 40%;
}

.seeDetailsCircle:hover {
  visibility: visible;
  font-size: 14px;
  width: 40%;
  height: 40%;
}

.seeDetailsCircle {
  transition: all .2s ease-in-out;
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  text-align: center;
  visibility: hidden;
}

@media screen and (max-width: 1140px) {
  .productElement {
    flex: 1 0 calc(33% - 16px);
    height: calc(100vw / 3);
  }
}

@media screen and (max-width: 640px) {
  .productElement {
    flex: 1 0 calc(50% - 16px);
    height: calc(100vw / 2);
  }
}

@media screen and (max-width: 400px) {
  .productElement {
    flex: 1 0 100%;
    height: calc(100vw);
  }
}