.productsListContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.productsTitle {
  font-size: 70px;
  font-family: "Raleway-extraBold";
}